## .aliases
## Author: Maxim Kalaev

# Screen integration: update window title on ssh, etc.
# Todo: support deeper nesting.
function screen_title_save() {
        if [[ "$swin_title"x != ""x ]] ; then
            export sprev_title=$swin_title
        else
            export sprev_title="(unknown)"
        fi
}
function screen_win_title() {
        screen_title_save
        export swin_title=$*
        [[ "$TERM" == "screen" ]] && echo -n -e '\ek'$swin_title'\e\'
}
function screen_win_title_restore() {
	export swin_title=$sprev_title
	export sprev_title="bash"
	[[ "$TERM" == "screen" ]] && echo -n -e '\ek'$swin_title'\e\'
}
function ssh() { screen_win_title $* ; `which ssh` $* ; screen_win_title_restore ; }

function gg() { git grep -n --color "$@" | sed -re "s/(:[0-9]+):/\1 /"; }

alias vi=vim
alias grep='grep --color'
alias zap='rm *~'
function md { mkdir -p "$@" ; cd "$1" ; }
alias gl='global -x'
alias nas1b="ssh root@nas1b"
alias hd='hexdump'
alias p11='cd /local/home/maximk/p11.0/'

