$if term=xterm
$include ~/.inputrc.inc
$endif
$if term=screen
$include ~/.inputrc.inc
$endif
$if term=linux
"\eOD":backward-word
"\eOC":forward-word
"\e[1~":beginning-of-line
"\e[4~":end-of-line

"\e[A":history-search-backward
"\e[B":history-search-forward
"\C-h":backward-kill-word

set bell-style visible          # please don't beep
set completion-ignore-case on
set completion-query-items 1000
set page-completions on

$endif
