"\e[1;5D":backward-word
"\e[1;5C":forward-word
"\e[A":history-search-backward
"\e[B":history-search-forward

set bell-style visible          # please don't beep
set completion-ignore-case on
set completion-query-items 1000
set page-completions on
